body{
    background-color: #0fcf90;
}
h1{
    color: #b9105e;
}
h2{
    color: orange;
}
li{
    color: blue;
}
p{
    background-color: yellow;
}
input{
    border: 3px solid red;
}
.hello{
background-color: white;
}
#special{
    border: 2px solid blue;
}
div p{
    font-size: 25px;
}
input[type=text]{
    background-color: gray;
}
div:nth-of-type(3) p{
    background-color: pink;
}
div:nth-of-type(3)>p:nth-of-type(2){
    border: white solid 5px;
}
div:nth-of-type(3) em{
    font-size: 20px;
    color: white;
}
/*bonus*/
input:checked {
    margin-left:50px; 
}
label{
text-transform: uppercase;
}
#special::first-letter{
    color:green;
    font-size:100px ;
}
html:hover h1{
    color:blue;
}
a:visited {
    color: gray;
  }
